header.header{
    background-color: var(--bg-dark2);
    padding: 0.5rem 2rem;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    display: flex;
}

header.header h1{
    font-size: 1.8rem;
}

@media (max-width: 700px) {
    header.header{
       padding: 0 2rem;
    }
}
@media (max-width: 470px) {
    header.header{
        display: none;
    }
}